{% load staticfiles compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{% block subtitle %}{% endblock %}{{ site.name }}</title>

    <link rel="stylesheet" href="{% static 'shared/css/base.css' %}" type='text/css'>
    <link rel="stylesheet" href="{% static 'shared/css/admin.css' %}" type='text/css'>
    <link rel="stylesheet" href="{% static 'vendor/css/semantic.min.css' %}" type='text/css'>

    <script src="{% static 'vendor/js/react.production.min.js' %}"></script>
    <script src="{% static 'vendor/js/react-dom.production.min.js' %}"></script>
    <script src="{% static 'vendor/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'vendor/js/semantic.min.js' %}"></script>
    <script src="{% static 'vendor/js/lodash.js' %}"></script>

    <script src="{% static 'shared/js/base.js' %}"></script>

    {% compress js %}
    <script type="text/coffeescript" charset="utf-8" src="{% static 'instrument/adapter.coffee' %}"></script>
    {% endcompress %}

    {% block head-extras-app %}{% endblock %}
    {% block head-extras-page %}{% endblock %}
  </head>
  <body>
    <div id="page-component"></div>

    <div id="content">

      <div class="ui menu">
        <div class="header item">ArtManager</div>
        <a class="item" href="{% url 'artwork:system_status' %}">Dashboard</a>

        <div class="ui dropdown item" tabindex="0">
          Artwork
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <a class="item" href="{% url 'artwork:artists' %}">Artists</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'artwork:artist_groups' %}">Artist Groups</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'artwork:photos' %}">Photos</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'artwork:documents' %}">Documents</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'artwork:equipment_types' %}">Equipment Types</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'artwork:equipments' %}">Equipments</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'artwork:installation_sites' %}">Installation Sites</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'artwork:installations' %}">Installations</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'artwork:system_status' %}">System Status</a>
          </div>
        </div>

        <div class="ui dropdown item" tabindex="0">
          Lighting
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <a class="item" href="{% url 'lighting:bacnet_lights' %}">BACNet Service</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'lighting:projectors' %}">Projectors</a>
            <div class="divider"></div>
            <a class="item" href="{% url 'lighting:crestons' %}">Creston</a>
          </div>
        </div>

        <a class="item" href="{% url 'iboot:iboots' %}">iBoot</a>
        <div class="right menu">
          <a class="item" href="/admin/">Admin</a>
        </div>
      </div>

      {% block content%}{% endblock %}

    </div>

    {% block script-extras-app %}{% endblock %}
    {% block script-extras-page %}{% endblock %}

  </body>
</html>
