:root {
	--top-nav-height: 45px;
	--top-nav-margin: 30px;
	--row-padding: 20px;
}

body, html, div, p, span, a, h1, h2, h3, h4, h5, input, textarea, ul, li {
	padding: 0;
	margin: 0;
}
body, html {
	width: 100%;
	height: 100%;
}
body {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

a {
	text-decoration: none;
	color: inherit;
	outline: 0;
}
a:visited {
	outline: 0;
}

ul {
	padding-left: 0;
	list-style: none;
}
li {
	display: inline-block;
}

button {
	cursor: pointer;
	background-color: white;
	padding: 5px;
	border: solid 1px #DDD;
	border-radius: 0;
}
button:hover {
	background-color: #DDD;
}
button:active {
	background-color: #EFEFEF;
}

.small-button {
	padding: 2px;
	font-size: 12px;
	line-height: 1em;
	text-transform: uppercase;
}

.button-group button {
	border-left: none;
	outline: 0;
}
.button-group button:active {
	outline: 0;
}
.button-group button.selected {
	background-color: #EFEFEF;
}
.button-group button:first-child {
	border-left: solid 1px #DDD;
}

.form-group {
	margin-bottom: 20px;
}
.form-group label {
	display: none;
}
.form-group input, .form-group textarea {
	width: 100%;
	padding: 8px;
	border: solid 1px #DDD;
}
.submit-group {
	text-align: right;
}

.top-nav-component {
	position: relative;
	height: var(--top-nav-height);
	padding: 0 0;
	margin-bottom: var(--top-nav-margin);
	background-color: #EFEFEF;
	color: #888;
}
.top-nav-component nav {
	position: relative;
	line-height: var(--top-nav-height);
}
.top-nav-component h1 {
	margin-left: var(--row-padding);
	display: inline-block;
}
.top-nav-component .right-links {
	position: absolute;
	top: 0;
	right: var(--row-padding);
}
.top-nav-component .right-links li {
	padding-left: 10px;
}

.row {
	display: flex;
	flex-direction: row;
	padding-left: var(--row-padding);
	padding-right: var(--row-padding);
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
	padding-left: var(--col-padding);
	padding-right: var(--col-padding);
} 
.col-1  { flex: 1 8.33%;  }
.col-2  { flex: 1 16.66%; }
.col-3  { flex: 1 50%;    }
.col-4  { flex: 1 30%;    }
.col-5  { flex: 1 41.66%; }
.col-6  { flex: 1 50%;    }
.col-7  { flex: 1 58.33%; }
.col-8  { flex: 1 66.66%; }
.col-9  { flex: 1 74.99%; }
.col-10 { flex: 1 83.33%; }
.col-11 { flex: 1 91.66%; }
.col-12 { flex: 1 100%;   }

.margin-right{
	margin-right: 5px !important;
}

.indent{
	margin: 4px 8px 4px 0 !important;
}

.device-active{
	background-color: lightgreen !important;
}

.device-inactive{
	background-color: tomato !important;
}
