{% extends "base.html" %}

{% block subtitle %}{{ light.name }} | {% endblock %}

{% block content%}

<div class="ui container">

  <h2 class="ui dividing header">Lighting::BACNet</h2>

  <div class="ui one column relaxed grid">
    <div class="column">
      <table class="ui very basic right aligned table">
        <thead>
          <tr>
            <th class="left aligned">Device ID</th>
            <th class="left aligned">Property ID</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="left aligned">Projector #1</td>
            <td class="left aligned">Projector #1</td>
            <td></td>
          </tr>
          <tr>
            <td class="left aligned">Projector #1</td>
            <td class="left aligned">Projector #1</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

{% endblock %}
