{% extends "base.html" %}
{% load staticfiles compress %}

{% block subtitle %} Installation sites {% endblock %}

{% block content %}

<div class="ui container">

  <div class="ui one column relaxed grid">
    <div class="column">
      <div 
        id="root" 
        data-url="{% url 'artwork_api:installation_sites' %}"
        data-url-photos="{% url 'artwork_api:photos' paginate='off' %}"
        data-url-equipment="{% url 'artwork_api:equipments' paginate='off' %}"
        data-csrf_token="{{ csrf_token }}">
        <div class="ui segment">
          <div class="ui active inverted dimmer">
            <div class="ui large text loader">Loading. Please wait.</div>
          </div><br /><br /><br /><br /><br />
        </div>
      </div>
    </div>

    <div class="ui modal" data-object="simple-dialog">
      <div class="header">
        <i class="info icon"></i>
        Information
      </div>
      <div class="content"></div>
      <div class="actions">
        <div class="ui button" data-action="close-dialog">OK</div>
      </div>
    </div>
  </div>

</div>

<script data-object="error" type="text/template-x">
  We encounter an error processing your request.
</script>

{% compress js %}
<script type="text/coffeescript" charset="utf-8" src="{% static 'artwork/js/installation_site_modal.coffee' %}"></script>
<script type="text/coffeescript" charset="utf-8" src="{% static 'artwork/js/installation_sites.coffee' %}"></script>
{% endcompress %}

{% endblock %}
